<div class="col-xs-4 box-img">
  <div class="item-border">
    <%= link_to friend do %>
      <%= image_tag friend.avatar_url %>
    <% end %>
  </div>
  <div class="friend-caption">
    <%= link_to friend.full_name, user_path(friend) %>
  </div>
</div>
