.item-box {
  .friend-img {
    display: inline-block;
    height: 48px;
    width: 48px;
    border: 1px solid #aaa;

    img {
      height: 100%;
    }
  }

  .friend-details {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    a, small {
      display: block;
    }
  }
}
