$header-stack: Ubuntu, Arial, sans-serif;
$body-stack: "Source Sans Pro", Arial, sans-serif;

$bluewood: #34495E;
$madison: #6C7A89;
$porcelain: #ECF0F1;
$dark-madison: #222F3D;
$thunderbird: #D91E18;
